.about-us {
  padding-left: 380px;
}

@media screen and (max-width: 1200px) {
  .about-us {
    padding-left: 290px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us {
    padding-left: 250px;
  }
}
@media screen and (max-width: 900px) {
  .about-us {
    padding-left: 150px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-us{
    padding-left: 100px;
  }
}
