@media screen and (min-width: 1700px) {
  .about-us {
    padding-left: 40vw;
  }
}
@media screen and (max-width: 1700px) {
  .about-us {
    padding-left: 35vw;
  }
}
@media screen and (max-width: 1400px) {
  .about-us {
    padding-left: 29vw;
  }
}
@media screen and (max-width: 1200px) {
  .about-us {
    padding-left: 290px;
  }
}
@media screen and (max-width: 1024px) {
  .about-us {
    padding-left: 250px;
  }
}
@media screen and (max-width: 900px) {
  .about-us {
    padding-left: 150px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-us{
    padding-left: 100px;
  }
}
