.main__image{
  width: 320px;
  height: 420px;
  position: relative;
  bottom: 100px;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .main__image{
    width: 280px;
    height: 380px;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .main__image{
    font-size: 68px;
  }
}