.main__description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  z-index: 1;
  align-self: flex-end;
  position: relative;
  bottom: 100px;
}

@media screen and (max-width: 900px) {
  .main__description {
    gap: 15px;
  }
}
@media screen and (max-width: 700px) {
  .main__description{
    bottom: 80px;
  }
}
@media screen and (max-width: 650px) {
  .main__description{
    bottom: 60px;
  }
}

@media screen and (max-width: 560px) {
  .main__description{
    bottom: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .main__description {
    max-width: 260px;
    margin: 0 auto;
  }
}
