.main__description {
  margin-right: 60px;
  z-index: 1;
}

@media screen and (min-width: 1700px) {
  .main__description{
    margin-right: 80px;
  }
}
@media screen and (max-width: 900px) {
  .main__description{
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main__description{
    margin-right: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .main__description{
    max-width: 260px;
    margin: 0 auto;
  }
}