.main__par{
  margin: 0;
  padding: 0;
  max-width: 432px;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .main__par{
    max-width: 370px;
  }
}
@media screen and (max-width: 1024px) {
  .main__par{
    max-width: 310px;
    font-size: 16px;
  }
}
@media screen and (max-width: 900px) {
  .main__par{
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .main__par{
    max-width: 260px;
  }
}