.main__section {
  color: #fff;
  display: flex;
  background-color: #0b1d26;
  align-items: flex-start;
  gap: 60px;
  padding-bottom: 200px;
}
@media screen and (min-width: 1700px) {
  .main__section {
    padding-left: 26vw;
    gap: 80px;
  }
}
@media screen and (max-width: 1700px) {
  .main__section {
    padding-left: 35vw;
  }
}
@media screen and (max-width: 1400px) {
  .main__section {
    padding-left: 29vw;
  }
}
@media screen and (max-width: 1200px) {
  .main__section {
    padding-left: 290px;
  }
}
@media screen and (max-width: 1024px) {
  .main__section {
    padding-left: 250px;
  }
}
@media screen and (max-width: 950px) {
  .main__section {
    padding-left: 150px;
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main__section {
    padding-bottom: 120px;
  }
}
@media screen and (max-width: 650px) {
  .main__section {
    padding-left: 120px;
  }
}
@media screen and (max-width: 600px) {
  .main__section {
    padding-left: 100px;
  }
}
@media screen and (max-width: 550px) {
  .main__section {
    padding-left: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .main__section {
    position: relative;
    margin: 0 auto;
    padding-bottom: 120px;
  }
}
