.main__section{
  color: #fff;
  display: flex;
  background-color: #0b1d26;
  padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .main__section {
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .main__section {
    padding-bottom: 120px;
  }
}