.tours__image{
  margin-right: 60px;
}

@media screen and (min-width: 1700px) {
  .tours__image{
    margin-right: 80px;
  }
}
@media screen and (max-width: 900px) {
  .main__image{
    margin-right: 40px;
  }
}