.footer__par_email {
  margin-bottom: 100px;
}

.footer__par_email::before {
  position: relative;
  top: 6px;
  right: 10px;
  content: url("../../../../../../images/email.svg");
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .footer__par_email::before {
    background-size: 12px 12px;
  }
}
