.header-mobile__link {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .header-mobile__link {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  .header-mobile__link {
    font-size: 18px;
  }
}
