@media screen and (min-width: 1700px) {
  .about-us__header {
    padding-top: 2%;
  }
}
@media screen and (max-width: 1024px) {
  .about-us__header {
    padding-top: 6%;
  }
}

@media screen and (max-width: 768px) {
  .about-us__header {
    padding-top: 8%;
  }
}

@media screen and (max-width: 600px) {
  .about-us__header {
    padding-top: 15%;
  }
}
