@media screen and (min-width: 1700px) {
  .tours {
    padding-left: 20vw;
  }
}
@media screen and (max-width: 1700px) {
  .tours {
    padding-left: 15vw;
  }
}
@media screen and (max-width: 1200px) {
  .tours{
    padding-left: 150px;
  }
}
@media screen and (max-width: 1024px) {
  .tours{
    padding-left: 100px;
  }
}
@media screen and (max-width: 900px) {
  .tours{
    padding-left: 80px;
  }
}


@media screen and (min-width: 320px) and (max-width: 450px) {
  .tours{
    padding-left: 150px;
  }
}