.promo {
  display: flex;
  margin: 0 80px;
  padding-bottom: 344px;
}

@media screen and (min-width: 1700px) {
  .promo {
    padding-bottom: 344px;
  }
}
@media screen and (max-width: 1024px) {
  .promo {
    padding-bottom: 244px;
  }
}
@media screen and (max-width: 768px) {
  .promo {
    margin: 0 40px;
    padding-bottom: 204px;
  }
}
@media screen and (max-width: 500px) {
  .promo {
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 320px) and (max-width: 400px) {
  .promo {
    margin: 0 25px;
  }
}
