.main__header{
  margin: 0;
  margin-bottom: 27px;
  padding-top: 30px;
  font-size: 40px;
}

@media screen and (min-width: 1700px) {
  .main__header{
    font-size: 60px;
    padding-top: 220px;
  }
}
@media screen and (max-width: 1024px) {
  .main__header{
    padding-top: 0;
  }
}
@media screen and (max-width: 900px) {
  .main__header{
    font-size: 30px;
    margin-bottom: 15px;
  }
}
