.main__header {
  margin: 0;
  padding-top: 5%;
  font-size: 2.5em;
  max-width: fit-content;
}

@media screen and (min-width: 1700px) {
  .main__header {
    font-size: 3.8em;
    padding-top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .main__header {
    padding-top: 4%;
  }
}
@media screen and (max-width: 1024px) {
  .main__header {
    padding-top: 4%;
  }
}
@media screen and (max-width: 900px) {
  .main__header {
    font-size: 1.9em;
    padding-top: 5%;
  }
}
@media screen and (max-width: 600px) {
  .main__header {
    padding-top: 12%;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .main__header {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    align-self: flex-end;
    padding-top: 0;
  }
}
