.header__button_close svg g:first-child {
  transform: rotate(-45deg) translateY(10px);
}
.header__button_close svg g:nth-child(2) {
  transform: rotate(45deg);
}
.header__button_close svg g:last-child {
  opacity: 0;
}