.header__link {
  font-size: 1.25em;
  text-decoration: none;
  margin-right: 20px;
  color: #fff;
}

.header__link:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1700px) {
  .header__link {
    font-size: 1.875em;
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__link {
    font-size: 1em;
    margin-right: 15px;
  }
}
