.header {
  margin: 0 80px 200px;
  padding-top: 58px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .header{
    margin: 0 60px 200px;
  }
}
@media screen and (max-width: 768px) {
  .header{
    margin: 0 40px 150px;
  }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
  .header{
    margin: 0 40px 150px;
  }
}