.about-us__description {
  margin-right: 60px;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .about-us__description{
    margin-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .about-us__description{
    margin-right: 40px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .about-us__description{


  }
}