@media screen and (max-width: 750px) {
  .rental__image{
    bottom: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 500px) {
  .rental__image{
    bottom: 260px;
    left: 37%;
  }
}